
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Run A Report</h2>







@using (Html.BeginForm("Create", "Reports"))
{
    @Html.AntiForgeryToken()

    <hr />

    <div class="form-horizontal" style="margin-left: 5%; margin-bottom: 5%;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Query string:")
            @Html.TextBox("query")
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}






